# SPDX-License-Identifier: Apache-2.0
# Desktop (PyQt6) frontend dependencies. Bounds match pyproject's [qt] extra.
# The engine and CLI have no third-party dependencies.
PyQt6~=6.6
PyQt6-WebEngine~=6.6
