# SPDX-License-Identifier: Apache-2.0
# Runtime dependencies for the PyQt6 frontend.
# The engine (epubreader.core / .session / .render) has NO third-party deps —
# it is pure standard library, so a web/CLI frontend need not install these.
PyQt6>=6.6
PyQt6-WebEngine>=6.6
